.container
  =render 'listShow', profile: @profile
  .row
    .col
      %h.elementTitle
        =t('.bio')
      %p.textBlock
        =@profile.bio
.container
  .row
    .col
      %h1
        = t('postsNav')
  .row
    -@profile.posts.each do |post|
      =render 'posts/show', post: post, comment_depth: 5
