%div.container
  =render 'listShow', profile: @profile
  %div.row
    %div.col
      %h1
        =t('.bio')
      %p
        =@profile.bio


%div.container
  %div.row
    %div.col
      %h1
        = t('postsNav')
  %div.row
    -@profile.posts.each do |post|
      =render 'posts/show', post: post, comment_depth: 5
