%div.row
  -if comment_depth > 0
    -x = 0
    -post.comments.each do |comment|
      = render 'comments/show', comment: comment
      -x += 1
      -break if x == comment_depth
  -else
    -post.comments.each do |comment|
      = render 'comments/show', comment: comment
%div.row
  %div.col
    %h1 Comments
%div.row#addCommentRow
  %div.col.form
    = render 'comments/form', comment: Comment.new,  post: post
