.container{'id' => "postContainer#{post.id}"}
  =render 'profiles/listShow', profile: post.profile
  .row
    %h.elementTitle
      = post.title
  .row
    .col.postText
      %p.textBlock
        = post.post_text
      -if post.image_url
        %image{'source' => post.image_url}
  = render 'posts/postComments', post: post, comment_depth: comment_depth
