.container{'id' => "postContainer#{post.id}"}
  =render 'profiles/listShow', profile: post.profile
  .row
    %h.elementTitle
      = post.title
  .row
    .col.postText
      %p.textBlock
        = post.post_text
  = render 'posts/postComments', post: post, comment_depth: comment_depth
