/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= require_tree .
 *= require_self
 */

@import "bootstrap";

$font: 'Times New Romanm','Times',serif;
$babyPink: #ffa3c5;
$primBlue: #4287f5;
$margin: 20px;

div {
  &.col-auto, &.col {
    border: 2px;
    border-style: solid;
    border-color: $primBlue;
  }
  &.row{
    border: 3px;
    border-style: solid;
    border-color: $primBlue;
    border-radius: 10px;
  }
  &.container-fluid, &.container{
    border: 4px;
    border-style: solid;
    border-color: $babyPink;
    border-radius: 15px;
  }
}


body{
  font-family: $font;
  background-color: white;
}

p.navTitle{
  color: $babyPink;
  font-size: 30px;
  margin: 10px ;
}

p.app_description{
  color: white;
  font-size: 20px;
  margin-left: $margin;
}
