/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= require_tree .
 *= require_self
 */

@import "bootstrap";

$font: 'Times New Romanm','Times',serif;
$babyPink: #ffa3c5;
$pastelPink: #ffdef3;
$primBlue: #0578db;
$margin: 15px;

img{
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.btn{
  height: 50px;
  width: 130px;
}

form{
  width: 100%;
}

textarea{
  width: 80%;
  margin: auto;
}

div {
  &.container-fluid, &.container{
    border: 4px;
    border-style: solid;
    border-radius: 15px;
    margin-bottom: 30px;
  }
  &.container-fluid{
    border-color: $babyPink;
  }
  &.container{
    border-color: $primBlue;
    background-color: $pastelPink;
  }
  &.field, &.actions {
    margin: 25px;
  }
  &.field{
    width: 100%;
    height: 80px;
    margin-left: $margin;
  }
}


body{
  font-family: $font;
  background-color: white;
}

p{
  font-size: 20px;
  margin: $margin;
  margin-top: 20px;
  &.navTitle{
  color: $babyPink;
  font-size: 30px;
  margin: 10px ;
  }
  &.app_description{
    color: white;
  }
  &.textBlock{
    font-size: 20px;
    background-color: white;
    padding: $margin
  }
}

h{
  &.elementTitle{
    font-size: 40px;
  }
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;

  &:visited {
    color: #666;
  }

  &:hover {
    color: #fff;
    background-color: $babyPink;
  }
}

#notice {
  color: $babyPink;
  background-color: white;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

label {
  display: block;
}
