// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
input {
  &#btnCommentAdd, &#commentUpdate {
    display: none;
  }
}
.btn-secondary{
  height: 40px;
  width: 100px;
  margin: 5px;
  margin-top: 20px;
}
div.form{
  padding: 0px;
}
